	*
		{
			margin:0;
			padding: 0;
			box-sizing: border-box;
		}
	html
		{
			font-size: 10px;
			font-family: pacifico;

			}
	section
		{
			width: 100%;
			height:150vh;
			color: #fff;
			background: linear-gradient(-45deg,  #660033, #4747d1,#ff1a1a);
			background-size: 400%,400%;
			position: relative;
			animation:  change 10s ease-in-out infinite;
			padding: 90px;	
		}
		h1
		{
			font-size: 5rem;
			text-transform: uppercase;
			letter-spacing: 2px;
			border: 2px solid #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			padding: 5rem,10rem;

		}
		.a1
		{
			background-color: black;
			font-size: 10px;
			font-family: arial;
			height: 800px;
			width: 100%;
			padding-right:  80px;
			opacity: 0.75;
			font-family:Sitka Banner;
			padding-top: 40px;
		}
		.a2
		{
			/*background-color: green;*/
			font-size: 70px;
			text-align: right;
			font-family: Sitka Banner;
		}
		
		img
		{
			height: 250px;
			width: 380px;
			padding-left : 20px;
			padding-top: 30px;
		}
		img:hover
		{
			height:250px;
			width:350px;

		}
		@keyframes change
		{
		0%{
			background-position: 0 50%;
		}
		50%
		{
			background-position: 100% 50%;
		}
		100%
		{
			background-position: 0 50%;
		}
}
